/* colors ************************
#000 - text color
#00456e - Dark blue
#1073af - Light blue
#dc143c - Crimson
#ef1641 - Light Crimson
#450e9e - Purple
#cbbbbe - Deep gray
#e5dcde - Light gray
#fff  - white


/* Fonts **************************
font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
*/


/* fixing the top navbar*/

body {
    background: #000;
    background: #450e9e;
    background: #00456e;
    background: #1073af;
    background: #dc143c;
    background: #ef1641;
    background: #cbbbbe;
    background: #e5dcde;
    background-color: #ffffff;
}

#topnav {
    height: 70px;
    color: #00456e;
}

#topnav .navbar {
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.2);
}


/*#topnav .navbar ul.nav>li.active{
    background-color: transparent;
TODO: fix the color in the li.active }

*/

#topnav .navbar .nav a:link {
    color: #00456e;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#slider {
    background-image: url(../images/sliderBg.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-origin: border-box;
    position: relative;
    background-repeat: no-repeat;
    top: -70px;
    padding-top: 70px;
    height: 750px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin-bottom: -70px;
}

#slider .h1 {
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    font-size: 72px;
    color: #fff;
    line-height: 96px;
    text-shadow: 0px 2px 5px rgba(1, 1, 1, 0.35);
    margin-top: 10rem;
}

#slider .h1 small {
    font-size: 30px;
    line-height: 48px;
    display: block;
    color: inherit;
}

#slider .h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 84px;
    font-weight: normal;
}

.btn-cta,
#newsletter button,
.course-box button {
    color: #fff;
    background: #ef1641;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    margin: 0;
    border-radius: 0;
    border: none;
    font-weight: 300;
}

.btn-cta {
    padding: 0 30px;
    line-height: 50px;
}

.btn-cta:hover,
#newsletter button:hover {
    background: #e5dcde;
    color: #00456e;
    box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.35);
}

#newsletter .container {
    color: #ffffff;
    font-family: Oswald, sans-serif;
    background: #1073af;
    text-align: center;
    padding: 45px 0;
}

#newsletter p {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: inherit;
    margin: 0;
    padding-bottom: 25px;
    font-weight: 100;
}

#newsletter p b {
    font-weight: bold;
}

#newsletter input {
    height: 50px;
    border-radius: 0;
}

#newsletter button {
    padding: 0 30px;
    width: 100%;
    color: #ffffff;
    line-height: 50px;
}

#we-train p.h1,
#upcoming-courses p.h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin: 90px auto 75px;
    text-align: center;
}

#we-train p>i {
    font-size: 96px;
    color: #00456e;
}

#we-train p:hover>i {
    color: #ef1641;
}

#we-train .row p {
    text-align: center;
    background: #e5dcde;
    padding: 25px;
    box-sizing: border-box;
    margin: 0 0 30px;
}

#upcoming-courses .course-box {
    border: 1px solid rgb(229, 220, 222);
    position: relative;
    background: rgba(16, 115, 175, .05);
    box-sizing: border-box;
}

#upcoming-courses .course-box:hover {
    box-shadow: 0px 0px 10px 0px rgba(1, 1, 1, 0.25);
}

#upcoming-courses .course-box p {
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}

#upcoming-courses .course-box p.head {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 15px
}

#upcoming-courses .course-box button {
    font-size: 18px;
    line-height: 40px;
    padding: 0 30px;
    margin: 10px auto -10px;
    display: block;
    z-index: 999;
    position: relative;
    box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.35);
}

#upcoming-courses .course-box button:hover {
    border-radius: 0;
    background-color: #00456e;
    box-shadow: none;
}

#ad-career {
    margin: 90px auto;
    background: rgba(63, 80, 98, 1);
    background-image: url(../images/career_guideline.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 480px;
    padding-top: 0px;
    padding-bottom: 90px;
    color: #fff;
    text-align: center
}

#ad-career p.h1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 5px 10px rgba(1, 1, 1, 0.35);
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    margin: 75px auto 25px;
    line-height: 96px;
}

#ad-career p {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 25px;
}


/*
*/
